.envelop {
  opacity: 100;
  width: 60%;
  position: absolute;
  top: 0;
  right: 20%;
  will-change: transform;
  animation: envelopMove 3s ease-in-out infinite;
}

.st0 {
  fill:#FFFFFF;
  filter: drop-shadow(rgba(0, 0, 0, 0.2) 0px 5px 12px);
}
.st1 {
  fill:#EEEEEF;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.st2 {
  fill:#F5F5F5;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

@keyframes envelopMove {
  0%{
    transform: translate(0%, 10%);
  }
  50%{
    transform: translate(0%, 0%);
  }
  100% {
      transform: translate(0%, 10%);
  }
}

