/* @font-face {
    font-family: "cute";
    src: url("https://thanks-clip-font.s3.ap-northeast-2.amazonaws.com/cute.ttf");
}
@font-face {
    font-family: "hand";
    src: url("https://thanks-clip-font.s3.ap-northeast-2.amazonaws.com/hand.ttf");
}
@font-face {
    font-family: "sans";
    src: url("https://thanks-clip-font.s3.ap-northeast-2.amazonaws.com/sans.ttf");
} */

@tailwind base;
@tailwind components;
@tailwind utilities;
