.airplane {
    position: absolute;
    top: 0;
    right: 0;
    width: 18.5%;
    opacity: 100;
    animation: airplaneMove 3s ease forwards;
    will-change: transform;
}

.st0 {
    fill: #b4b5b5;
}
.st1 {
    fill: #eeeeef;
}
.st2 {
    fill: #dbdcdc;
}

@keyframes airplaneMove {
    0% {
        transform: translate(-80%, 270%) scale(0.5) rotate(20deg);
        opacity: 0;
    }

    50% {
        transform: translate(-110%, 240%) scale(0.75) rotate(15deg);
        opacity: 0.25;
    }

    100% {
        transform: translate(-145.5%, 225%) scale(1) rotate(0deg);
        opacity: 1;
    }
}

.logo {
    position: relative;
    fill: none;
    stroke-width: 0;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
    stroke-dasharray: 450;
    stroke-dashoffset: 0;
    will-change: stroke, stroke-dashoffset, stroke-width;
    animation: logoDash 3s ease-in forwards;
}

@keyframes logoDash {
    from {
        stroke: #ea6d6d6d;
        stroke-dashoffset: 450;
        stroke-width: 0;
    }
    to {
        stroke: #ea6e6d;
        stroke-dashoffset: 0;
        stroke-width: 10;
    }
}
