.logo{
    position: absolute;
    top:11.3rem; 
    right: 6.7rem;
    opacity: 100;
    animation: moveto 3s ease-out;
}
@keyframes moveto{    
    0%{
        top: 13rem;
        right: 3rem;
        opacity: 0;
    }
    30%{
        top: 13rem;
        right: 3rem;
        opacity: 0;
    }
    100%{
        top:11.3rem; 
        right: 6.7rem;
        opacity: 100;
    }
}