.airplane {
    position: absolute;
    top: 41.2%;
    right: 26.5%;
    width: 18.5%;
    opacity: 100;
    animation: moveTo 3s ease-out;
}

.st0{fill:#B4B5B5;}
.st1{fill:#EEEEEF;}
.st2{fill:#DBDCDC;}

@keyframes moveTo {
    0% {
        top: 46.9%;
        right: 21.8%;
        opacity: 0;
    }
    30% {
        top: 46.9%;
        right: 21.8%;
        opacity: 0;
    }
    100% {
        top: 41.2%;
        right: 26.5%;
        opacity: 100;
    }
}

.logo {
    position: relative;
    fill: none;
    stroke-width: 0;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
    stroke-dasharray: 450;
    stroke-dashoffset: 0;
    animation: logoDash 5s ease-in forwards;
}

@keyframes logoDash {
    from {
        stroke: #ea6d6d6d;
        stroke-dashoffset: 450;
        stroke-width: 0;
    }
    to {
        stroke: #ea6e6d;
        stroke-dashoffset: 0;
        stroke-width: 10;
    }
}
