.envelop {
    opacity: 100;
    width: 80%;
    height: 80%;
    will-change: transform;
    animation: envelopMove 3.5s ease-in-out infinite;
}

.st0 {
    fill: #ffffff;
    filter: drop-shadow(rgba(0, 0, 0, 0.2) 0px 5px 12px);
}
.st1 {
    fill: #eeeeef;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.st2 {
    fill: #f5f5f5;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

@keyframes envelopMove {
    0% {
        transform: translateY(1rem);
    }
    50% {
        transform: translateY(0) scale(1.075);
    }
    100% {
        transform: translateY(1rem);
    }
}
