.airplane {
    position: absolute;
    top: 0;
    left: 50%;
    width: 10rem;
    opacity: 100;
    animation: airplaneMove 2s ease infinite;
    will-change: transform;
}

.st0 {
    fill: #b4b5b5;
}
.st1 {
    fill: #eeeeef;
}
.st2 {
    fill: #dbdcdc;
}

@keyframes airplaneMove {
    0% {
        transform: translate(-10%, 0%) scale(0.5) rotate(20deg);
        opacity: 0.25;
    }

    50% {
        transform: translate(-40%, -25%) scale(0.75) rotate(15deg);
        opacity: 0.5;
    }

    100% {
        transform: translate(-70%, -40%) scale(1) rotate(0deg);
        opacity: 1;
    }
}
